<mat-tab-group dynamicHeight animationDuration="1500ms" mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
    <mat-tab label="Dashboard">
        <div class="example-large-box mat-elevation-z4">
            Dashboard
        </div>
    </mat-tab>
    <mat-tab label="Doctor">
        <div class="example-large-box mat-elevation-z4">
            Doctor
        </div>
    </mat-tab>
    <mat-tab label="Patient">
        <div class="example-large-box mat-elevation-z4">
            Patient
        </div>
    </mat-tab>
</mat-tab-group>

