.example-small-box,
.example-large-box {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
}
.mat-grid-tile {
  background: transparent;
}

.example-stretched-tabs {
  margin: 2.5%;
  max-width: 95%;
}
.make-huge:hover {
  color: #000;
  transform: scale(1.5);
}
.example-large-box {
  /* height: 100vh; */
  width: 95%;
  background-color: #673ab7;
}

.mat-sort-header-container {
  align-items: center;
}

mat-grid-tile {
  width: 30%;
  height: 50%;
  background: #949396;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.search,
mat-card-subtitle{
  color:white;
}

.example-header-image {
  background-image: url("../../assets/doctor-portrait.jpg");
  background-size: cover;
}

.example-header-image2 {
  background-image: url("../../assets/pexels-count.jpeg");
  background-size: cover;
}

.example-header-image3 {
  background-image: url("../../assets/appointment.webp");
  background-size: cover;
}

.example-header-image4 {
  background-image: url("../../assets/arrows-graph.webp");
  background-size: cover;
}

.mat-paginator {
  margin-left: 2%;
  margin-right: 2%;
  background-color: #673ab7;
  color: #fff;
}

.example-card {
  margin-top: -110%; /*its dashboard right top - doctor creation */
  max-width: 90%;
  color: #fff;
  background: #673ab7;
}

.table-size {
  margin: 2.5%;
  text-align: center;
  color: #fff;
  font-size: larger;
}

.example-card2 {
  margin: 5%;
  background: transparent;
  color: #fff;
}

.grid-section {
  margin-top: -110%; /*its dashboard left top - count table */
}

.grid-section1 {
  margin-top: -95%; /*its dashboard left bottom - appointment part */
}

.grid-section2 {
  margin-top: -90%; /*its dashboard right bottom - graph */
}

/* section 3 */

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
}

ol {
  background: #DDA0DD;
  padding: 20px;
}

ol li {
  background: #D8BFD8;
  padding: 5px;
  margin-left: 35px;
}
.panel {
  margin: 30px;
}

.details-panel {
  background-color: rgb(248, 176, 41);
  border: solid 10px white;
  color: white !important;
  font-weight: 500;
}

.patients-panel{
  background-color: #BA55D3;
  border: solid 10px white;
  color: white !important;
  font-weight: 500;
}

.mat-expansion-panel-header {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: white !important;
}
/* section 4 */

.example-ripple-container {
  cursor: pointer;
  text-align: center;

  width: 300px;
  height: 300px;
  line-height: 300px;
  background-color: #fff;
  color: #673ab7;
  font-size: xx-large;
  border-radius: 1.5%;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}

/** Styles to make the demo look better. */
.example-ripple-checkbox {
  margin: 6px 12px 6px 0;
}

.example-ripple-form-field {
  margin: 0 12px 0 0;
}

.details-panel1 {
  background-color: #77DD76;
  border: solid 10px white;
  color: white !important;
  font-weight: 500;
}

.details-panel2 {
  background-color: #FF6962;
  border: solid 10px white;
  color: white !important;
  font-weight: 500;
}
