::ng-deep.main-background mat-dialog-container {
  background: #ecb2ec no-repeat center !important;
  margin: 5px !important;
}
.highlight{
    font-weight: 500;
}
.details {
  font-style: italic;
}
mat-dialog-container{
    color: blueviolet !important;;
}
h2{
    color: blueviolet;
}