::ng-deep.main-background mat-dialog-container {
  padding: 20px !important;
  border-radius: 4px;
  box-sizing: border-box;
  outline: 0;
  /* width: 500px !important; */
  /* height: 550px !important; */
  font-family: "Times New Roman", Times, serif;
  background: #673ab7;
  opacity: 2px;
}

mat-form-field {
  color: rgb(0, 0, 8);
  width: 270px;
  margin-left: 6%;
}

::ng-deep.main-background .h1-style {
  margin-left: 0%;
  font-size: 200%;
  color: white;
}

.btn2 {
  margin-left: 44%;
  margin-top: 5%;
}

.btn3 {
  margin-left: 24%;
  margin-top: 5%;
}

::ng-deep.main-background .mat-form-field-flex {
  display: inline-flex;
  align-items: baseline;
  box-sizing: border-box;
  width: 100% !important;
  /* height: 140px !important; */
}

::ng-deep.main-background
  .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float
  .mat-form-field-label,
.mat-form-field-appearance-legacy.mat-form-field-can-float
  .mat-input-server:focus
  + .mat-form-field-label-wrapper
  .mat-form-field-label {
  transform: translateY(-1.28125em) scale(0.75) perspective(100px)
    translateZ(0.001px);
  -ms-transform: translateY(-1.28125em) scale(0.75);
  width: 133.3333333333%;
  color: #ffd740 !important;
}

.mat-fab.mat-primary,
.mat-mini-fab.mat-primary {
  background-color: #ffd740 !important;
}
