<div class="main-background example-container">
  <mat-icon
    mat-dialog-close
    style="color: #ffd740; margin-left: 96%; cursor: pointer"
    >close</mat-icon
  >

  <mat-card-header>
    <mat-card-title class="h1-style">Add Patient Medication</mat-card-title>
  </mat-card-header>
  <br />
  <form [formGroup]="addPatientMedicationForm">
    <!-- <div *ngIf="submitted && f.errors" class="invalid-feedback">
        <div *ngIf="f.errors"></div>
      </div> -->
    <mat-form-field class="ml-2">
      <mat-label>Prescription</mat-label>
      <mat-card>
        <textarea
          matInput
          placeholder="Enter Patient Prescription"
          formControlName="prescription"
          type="text"
          required
        >
        </textarea></mat-card></mat-form-field
    ><br />
    <mat-form-field class="ml-2">
      <mat-label>Complication</mat-label>
      <mat-card>
        <textarea
          matInput
          placeholder="Enter Patient Complication"
          type="text"
          formControlName="complication"
          required
        ></textarea>
      </mat-card> </mat-form-field
    ><br />
    <button
      matTooltip="Send medication mail to patient"
      mat-fab
      mat-dialog-button
      class="btn2"
      (click)="onClickSave()"
      [disabled]="!addPatientMedicationForm.valid"
    >
      <mat-icon style="color: #673ab7">done</mat-icon>
    </button>
  </form>
</div>
