<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{ heading }}</mat-card-title>
    <mat-card-subtitle>Mail to our Developers</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="reportForm" class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label style="color: indigo">From</mat-label>
        <input
          matInput
          formControlName="from"
          type="text"
          [readonly]="true"
        /> </mat-form-field
      ><br />
      <mat-form-field class="example-full-width">
        <mat-label style="color: indigo">To</mat-label>
        <input
          matInput
          formControlName="to"
          type="text"
          [readonly]="true"
        /> </mat-form-field
      ><br />
      <mat-form-field class="example-full-width">
        <mat-label>Description</mat-label>
        <textarea
          matInput
          placeholder="(Mandatory)"
          type="text"
          formControlName="description"
          required
        ></textarea>
      </mat-form-field>
      <mat-card-actions mat-dialog-actions class="card-bottom">
        <button
          mat-raised-button
          mat-dialog-close
          style="margin-right: 10%; margin-left: 30%; background-color: #ff6962"
        >
          Close
        </button>
        <button
          matTooltip="Send us notification"
          mat-fab
          mat-dialog-button
          mat-dialog-close
          (click)="onClickSend()"
          [disabled]="!reportForm.valid"
          style="background-color: indigo; color: white"
        >
          <mat-icon>send</mat-icon>
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
