.logout {
  margin-left: 1000px;
  font-family: "Times New Roman", Times, serif;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

.panel{
  margin: 30px;
   }

.details-panel{
   background-color: rgb(240, 163, 19);
   border:solid 10px white;
   color:white  !important;
   font-weight: 500;
}

.mat-expansion-panel-header{
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: white !important;
}

