<section class="main-background">
  <div class="example-container">
    <form [formGroup]="addPatientForm">
      <mat-card-header>
        <mat-card-title class="h1-style">{{isEdit ? "Edit" : "Add"}} Patient</mat-card-title>
      </mat-card-header>
      <br />
      <mat-form-field appearance="outline">
        <mat-label>Patient Name</mat-label>
        <input matInput placeholder="Enter Patient Name" formControlName="pname" type="text" required />
        <mat-error *ngIf="pname.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="ml-2">
        <mat-label>Patient's Email</mat-label>
        <input matInput placeholder="Enter Patient Email Address" type="text" formControlName="emailId" type="email"
          required />
        <mat-error *ngIf="emailId.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field><br /><br />
      <mat-form-field appearance="outline">
        <mat-label>DOB</mat-label>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="dob" required />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="dob.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="ml-2">
        <mat-label>Mobile Number</mat-label>
        <input matInput formControlName="mobileNo" #input type="number" pattern="^[6789]\d{9}$"
          onKeyPress="if(this.value.length==10) return false;" placeholder="Enter Mobile Number" required>
        <mat-hint align="end">Max Length:10 {{input.value?.length || 0}}/10</mat-hint>
        <mat-error *ngIf="mobileNo.touched && mobileNo.value==''">
          You must enter a value</mat-error>
        <mat-error *ngIf="mobileNo.invalid">Enter correct format 1)Must contain 10 numbers 2)Must start with 6,7,8 or 9.
        </mat-error>
      </mat-form-field>
      <br /><br />
      <div>
        <mat-label>Gender:</mat-label>&nbsp;&nbsp;
        <mat-radio-group formControlName="gender" aria-label="Select an option" required>
          <mat-radio-button value="Female">Female</mat-radio-button>&nbsp;
          <mat-radio-button value="Male">Male</mat-radio-button>
        </mat-radio-group>
      </div>
    </form>
  </div>
  <button mat-raised-button class="btn2" mat-dialog-close (click)="onClickSave()" color="primary"
    style="margin-left: 250px;" [disabled]="!addPatientForm.valid">
    Save
  </button>&nbsp;
  <button mat-raised-button mat-dialog-close color="warn">
    Close
  </button>
</section>
