<!-- <section>
  <div class="example-flex-container">
    <div class="example-button-container">
      <form [formGroup]="patientSearchForm">
        <mat-form-field class="search-input">
          <mat-label style="color: #1e86a1">Search candidate name</mat-label>
          <input
            matInput
            formControlName="searchInput"
            (keyup)="searchTerm$.next($any($event.target).value)"
            type="text"
          />
          <button
            mat-fab
            mat-raised-button
            matTooltip="Search for Patient"
            color="accent"
          >
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
      </form>
    </div>
  </div>
</section> -->

<!-- <mat-card class="example-large-box3">
  <div mat-card-avatar class="example-header-image3"></div>
  <mat-card-title>{{ emailId }}</mat-card-title>
</mat-card> -->
<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <!-- <div style="cursor: pointer">Pending Patient Records</div> -->
    <mat-list>
      <mat-list-item class="list" *ngIf="showPatient" (click)="showPat()"
        >Pending Records
        <!-- <div *ngIf="showPatient1; then pat"></div> -->
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item class="list">Finished Records</mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content *ngIf="docDash">
    <!-- <mat-card class="example-card">
      <img
        mat-card-image
        src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content>
        <p>{{ docName }}</p>
        <mat-card-subtitle></mat-card-subtitle> -->
    <!-- </mat-card-content> -->
    <!-- <mat-card-actions>
      <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions> -->
    <!-- </mat-card> -->
  </mat-drawer-content>
  <mat-drawer-content *ngIf="showPatient1">
    <div class="example-large-box">
      <mat-card class="example-large-box1">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Patient Records</mat-card-title>
        </mat-card-header>
      </mat-card>
      <div class="right">
        <form [formGroup]="patientSearchForm">
          <mat-form-field>
            <mat-label style="color: whitesmoke">Search patient name</mat-label>
            <input
              matInput
              formControlName="searchInput"
              (keyup)="searchTerm$.next($any($event.target).value)"
              type="text"
            />
            <button
              mat-button
              *ngIf="searchInput.value"
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="onClickCloseSearch()"
            >
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </form>
      </div>
      <mat-accordion *ngFor="let patient of patientIdData; let i = index">
        <mat-expansion-panel class="details-panel">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>hotel</mat-icon>&nbsp;&nbsp;
              <span>{{ patient.patientId }}</span>
            </mat-panel-title>
            <mat-panel-description>
              <span> {{ patient.name }}</span>
            </mat-panel-description>
            <mat-panel-description>
              <span> {{ patient.dob | date: "MM/dd/yyyy" }}</span>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-icon>perm_identity</mat-icon>&nbsp;&nbsp;
          <span> Gender: {{ patient.gender }}</span
          ><br />
          <mat-icon> email</mat-icon>&nbsp;&nbsp;
          <span> EmailId: {{ patient.emailId }}</span
          ><br />
          <mat-icon> phone</mat-icon>&nbsp;&nbsp;
          <span> MobileNo: {{ patient.mobileNo }}</span>
          <button
            matTooltip="Add Patient Medication"
            mat-fab
            color="primary"
            style="float: right"
            (click)="onClickAddPatientMedication(patient._id, patient.name)"
          >
            <img
              style="width: 70%; margin: -12%"
              src="https://image.flaticon.com/icons/png/128/2937/2937192.png"
            />
          </button>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-paginator
        class="mat-paginator"
        style="color: white"
        (page)="onClickPaginator($event)"
        [length]="length"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        [showFirstLastButtons]="true"
      >
      </mat-paginator>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
