<!-- <section>
  <div class="example-flex-container">
    <div class="example-button-container">
      <form [formGroup]="patientSearchForm">
        <mat-form-field class="search-input">
          <mat-label style="color: #1e86a1">Search candidate name</mat-label>
          <input
            matInput
            formControlName="searchInput"
            (keyup)="searchTerm$.next($any($event.target).value)"
            type="text"
          />
          <button
            mat-fab
            mat-raised-button
            matTooltip="Search for Patient"
            color="accent"
          >
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
      </form>
    </div>
  </div>
</section> -->
<div class="right">
  <form [formGroup]="patientSearchForm">
    <mat-form-field>
      <mat-label>Search patient name</mat-label>
      <input
        matInput
        formControlName="searchInput"
        (keyup)="searchTerm$.next($any($event.target).value)"
        type="text"
      />
      <button
        mat-button
        *ngIf="searchInput.value"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="onClickCloseSearch()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </form>
</div>
<section class="panel">
  <mat-accordion *ngFor="let patient of patientIdData; let i = index">
    <mat-expansion-panel class="details-panel">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>hotel</mat-icon>&nbsp;&nbsp;
          <span>{{ patient.patientId }}</span>
        </mat-panel-title>
        <mat-panel-description>
          <span> {{ patient.name }}</span>
        </mat-panel-description>
        <mat-panel-description>
          <span> {{ patient.dob | date: "MM/dd/yyyy" }}</span>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-icon>perm_identity</mat-icon>&nbsp;&nbsp;
      <span> Gender: {{ patient.gender }}</span
      ><br />
      <mat-icon> email</mat-icon>&nbsp;&nbsp;
      <span> EmailId: {{ patient.emailId }}</span>
      <button
        matTooltip="Add Patient Medication"
        mat-fab
        color="Warn"
        style="margin-left: 30%"
        (click)="onClickAddPatientMedication(patient.patientId)"
      >
        <mat-icon>event</mat-icon>
      </button>
      <br />
      <mat-icon> phone</mat-icon>&nbsp;&nbsp;
      <span> MobileNo: {{ patient.mobileNo }}</span>
    </mat-expansion-panel>
  </mat-accordion>
</section>

<div>
  <mat-paginator
    (page)="onClickPaginator($event)"
    [length]="length"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    [showFirstLastButtons]="true"
  >
  </mat-paginator>
</div>
