.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 15px;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

.panel {
  margin: 30px;
}

.details-panel1 {
  background-color: #77dd76;
  border: solid 10px white;
  color: white !important;
  font-weight: 350;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin-top: 1%;
}

.details-panel {
  background-color: #ff6962;
  border: solid 10px white;
  color: white !important;
  font-weight: 350;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin-top: 1%;
}

.list1 {
  margin-top: 2%;
  margin-left: 25%;
  cursor: pointer;
  color: whitesmoke;
}

.mat-expansion-panel-header {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: white !important;
}

.right {
  color: #fff;
  margin-left: 84%;
}

.panel {
  margin-top: 12%;
}

.example-large-box {
  width: 92%;
  background-color: #673ab7;
  align-items: center;
  justify-content: center;
  padding: 2%;
  margin: 2%;
  border-radius: 10px;
}

.example-large-box1 {
  width: 55%;
  background-color: #673ab7;
  align-items: center;
  justify-content: center;
  margin-left: 35%;
  font-size: xx-large;
  margin-top: 0px;
}

.mat-paginator,
.mat-paginator-page-size .mat-select-trigger {
  color: rgb(255 255 255) !important;
  background-color: #673ab7;
  margin-right: 1%;
}

.mat-select-value-text {
  color: #ffd740 !important;
}

.example-card2 {
  background: transparent;
  color: #fff;
  margin-right: 3%;
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url("../../assets/patient-profile.png");
  background-size: cover;
}

.mat-card-header .mat-card-title {
  margin-bottom: 1% !important;
  margin-top: 5%;
  font-size: xx-large;
  color: #fff;
}

.mat-card:not([class*="mat-elevation-z"]) {
  box-shadow: 0px 2px 1px -1px #673ab7, 0px 1px 1px 0px rgb(103 58 183),
    0px 1px 3px 0px rgb(103 58 182) !important;
}

.example-header-image3 {
  background-image: url("../../assets/patient-profile.png");
  background-size: cover;
  position: -webkit-sticky;
  position: sticky;
  margin-top: -520%;
  margin-left: 4123%;
  z-index: 1000;
}

.example-large-box3 {
  width: 2%;
  background-color: #673ab7;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  height: 10px;
  margin-top: -2%;
  margin-left: 10%;
}

.mat-card {
  padding: 0px !important;
}

.example-card {
  padding: 16px !important;
  margin-top: 10%;
  float: left;
  background: #673ab7;
  color: white;
}

.float {
  float: left;
  margin-left: 19%;
}

.left-card {
  margin-left: 19%;
}

.doc {
  padding: 8%;
}

.mat-card-image {
  width: calc(100% + 32px);
  margin: 0 -16px 32px -16px !important;
}

.list-card {
  width: 100%;
}

.mat-form-field {
  display: inline !important;
  position: relative;
  text-align: left;
}

.example-container {
  height: 665px;
}

.mat-drawer.mat-drawer-side {
  z-index: 2;
  width: 15%;
  background-color: #9370db;
}

.list:hover {
  background-color: indigo;
  color: #fff;
}

.mat-list-item-focus {
  background-color: indigo;
  color: #fff;
}

.list {
  color: #fff;
}

.mat-drawer-container {
  margin: 0;
  background: linear-gradient(0deg, #e6e6fada, #e6e6fada),
    url("../../assets/background.jpg") no-repeat center;
  background-size: cover;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  /* height: 100vh; */
  z-index: 1000;
}

.mat-drawer-content {
  background: transparent;
  position: relative;
  z-index: 1;
  display: block;
  height: 100%;
  overflow: auto;
}

.list {
  cursor: pointer;
}

.mat-list-base {
  padding-top: 0px !important;
  display: block;
  -webkit-tap-highlight-color: transparent;
}
