::ng-deep.main-background mat-dialog-container {
  padding: 20px !important;
  border-radius: 4px;
  box-sizing: border-box;
  outline: 0;
  font-family: "Times New Roman", Times, serif;
  background:#9370db;
  opacity: 2px;
}

mat-form-field {
  color: rgb(0, 0, 8);
  width: 270px;
  margin-left: 6%;
}

::ng-deep.main-background .h1-style {
  margin-left: 0%;
  font-size: 200%;
  color: white;
}

::ng-deep.main-background .mat-form-field-flex {
  display: inline-flex;
  align-items: baseline;
  box-sizing: border-box;
  width: 100% !important;
}

::ng-deep.main-background
  .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float
  .mat-form-field-label,
.mat-form-field-appearance-legacy.mat-form-field-can-float
  .mat-input-server:focus
  + .mat-form-field-label-wrapper
  .mat-form-field-label {
  transform: translateY(-1.28125em) scale(0.75) perspective(100px)
    translateZ(0.001px);
  -ms-transform: translateY(-1.28125em) scale(0.75);
  width: 133.3333333333%;
  color: #ffd740 !important;
}

.mat-fab.mat-primary,
.mat-mini-fab.mat-primary {
  background-color: #ffd740 !important;
}

.mat-card {
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  position: relative;
  padding: 16px;
  width: 70% !important;
  border-radius: 4px;
}

::ng-deep.main-background
  .mat-form-field-appearance-legacy
  .mat-form-field-underline {
  height: 0px !important;
}
